*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

main{
    display: flex;
    width: auto;
    height: 608px;
    justify-content: center;
    flex-direction: column;
}

.card{
    width: 280px;
    height: 450px;
    background: white;
    margin: auto;
    border-radius: 10px;
    padding: 17px;
}

.imagem{
    width: 248px;
    height: 248px;
    align-items: center;
    border-radius: 6px;
}

.titulo{
    font-size: 20px ;
    text-align: center;
    margin: 15px 0px ;
}

p{
    text-align: center;
    margin-bottom: 7px;
    line-height: 23px;  
}

